@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
	background-color: grey;
	text-align: center;
}
#body{
	background-color: white;
	/*Верх, право, низ, лево
	Верх, лево-право, низ
	Верх-низ, лево-право*/
	padding: 10px 20px 30px;
	margin-top: 10px;
	display: inline-block;
	min-width: 75vw;
}

#header{
	background-color: lightblue;
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
}

#name{
	display: inline-block;
}

#galery{
	float: left;
	height: 65vh;
	width: 55%;
	display: inline-block;
	margin: 10px;
}

.gallery-main {
  margin-bottom: 40px;
  height: 62%;
}
.gallery-nav{
	height: 17%;
}

.gallery-cell {
  width: 66%;
  height: 100%;
  margin-right: 10px;
  background: lightgrey;
  border-radius: 8px;
}

.gallery-cell div, img{
  display: block;
  max-height: 100%;
  max-width: 100%;
  /* vertically center */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* horizontal center */
  margin-left: auto;
  margin-right: auto;
}


.gallery-nav .gallery-cell {
  width: 18%;
  height: 100%;
 	transition: 0.25s;
}
.gallery-nav .gallery-cell:hover{
	background: grey;
}

.gallery-cell.is-selected {
  background: lightgreen !important;
}

.flickity-enabled.is-fullscreen {
  max-height: 95%;
}
.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}
.flickity-fullscreen-button{
	position: absolute;
	padding: 11.5px;
	cursor: pointer;
}



#description{
	float: right;
	max-height: 46.5vh;
	width: 42%;
	overflow-y: auto;
	text-align: left;
	font-size: 15pt;
	margin-bottom: 25px;
}

#more_block{
	background-color: lightgrey;
	height: 100px;
	width: 100%;
	float: right;
}

#price{
	font-size: 20pt;
	font-family: "Lobster";
	color: red;
	text-align: center;
	margin-bottom: 15px;
}

table{
	border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;	
}
td {
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  padding: 5px 25px;
}
td:first-child {
  border-right: 1px solid #dcdcdc;
}
tr:nth-child(2n) {
	background-color: #f7f7f7;
}




.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.25s;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
  
  transition: 0.25s ease-in-out;
  transform: scale(0);
  opacity: 0;
  transform-origin: center top;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.25s;
  border-radius: 8px;
}

.dropdown-content a:hover {background-color: lightgrey}
.dropdown:hover .dropdown-content {
  transform: scale(1);
  opacity: 1;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}