@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');

body{
	background-color: grey;
	text-align: center;
}
#body{
	background-color: white;
	/*Верх, право, низ, лево
	Верх, лево-право, низ
	Верх-низ, лево-право*/
	padding: 10px 20px 30px;
	margin-top: 10px;
	display: inline-block;
	min-width: 75vw;
	width: auto;
	transform: scale(0.05);
	overflow: hidden;
}
.wow {
	visibility: hidden;
}

/* Прелоадер */
.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #e0e0e0;
	z-index: 1001;
	width: 100%;
	height: 100%;
}
.preloader__row {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	animation: preloader-rotate 2s infinite linear;
}
.preloader__item {
	position: absolute;
	display: inline-block;
	top: 0;
	background-color: #337ab7;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item:last-child {
	top: auto;
	bottom: 0;
	animation-delay: -1s;
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes preloader-bounce {
	0%,
	100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}

.loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
}
.loaded .preloader {
	display: none;
}
/* ------ */



#header{
	background-color: lightblue;
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
}
#logo{
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	background-color: red;
	height: 50px;
	width: 300px;
	display: inline-block;
	float: left;
	margin-left: auto;
	margin-right: 25px;
}

#name{
	display: inline-block;
}

#galery{
	float: left;
	height: 65vh;
	width: 100%;
	display: inline-block;
	margin: 10px;
}

.gallery-main {
	margin-bottom: 40px;
	height: 62%;
}
.gallery-nav{
	height: 17%;
}

.gallery-cell {
	width: 66%;
	height: 100%;
	margin-right: 10px;
	background: lightgrey;
	border-radius: 8px;
}

.gallery-cell div{
	display: block;
	max-height: 100%;
	max-width: 100%;
	/* vertically center */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	/* horizontal center */
	margin-left: auto;
	margin-right: auto;
}
.gallery-cell img{
	display: block;
	max-height: 100%;
	max-width: 100%;
	/* vertically center */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	/* horizontal center */
	margin-left: auto;
	margin-right: auto;
}


.gallery-nav .gallery-cell {
	width: 18%;
	height: 100%;
	transition: 0.25s;
}
.gallery-nav .gallery-cell:hover{
	background: grey;
}

.gallery-cell.is-selected {
	background: lightgreen !important;
}

.flickity-enabled.is-fullscreen {
	max-height: 94vh;
}
.carousel.is-fullscreen .carousel-image {
	height: auto;
	max-height: 100%;
}
.flickity-fullscreen-button{
	position: absolute;
	padding: 11.5px;
	cursor: pointer;
}



#description{
	float: right;
	max-height: 46.5vh;
	width: 100%;
	overflow-y: auto;
	text-align: left;
	font-size: 15pt;
	margin-bottom: 25px;
}

#more_block{
	width: 98%;
	float: right;
	font-size: 15pt;
	text-align: center;
	font-family: 'Comfortaa';
	position: relative;
	right: 1%;
}

#price{
	font-size: 20pt;
	font-family: "Lobster";
	color: red;
	text-align: center;
	margin-bottom: 15px;
}

table{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}
td {
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	padding: 5px 25px;
}
td:first-child {
	border-right: 1px solid #dcdcdc;
}
tr:nth-child(2n) {
	background-color: #f7f7f7;
}



#dropdownmenu{
	float: left;
	height: auto;
	width: calc(100% - 325px);
	max-width: 54vw;
	white-space: nowrap;
	text-align: left;
}
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	transition: 0.25s;
	box-shadow: 0 4px 0 #008405;
}
.dropdown {
	position: relative;
	display: inline-block;
	margin: 4px 5px;
	text-align: center;
}

.dropdown-content {
	position: absolute;
	background-color: white;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 8px;
	
	transition: 0.25s ease-in-out;
	transform: scale(0);
	opacity: 0;
	transform-origin: center top;
}
.dropdown-content a {
	color: black;
	padding: 12px 10px;
	text-decoration: none;
	display: block;
	transition: 0.25s;
	border-radius: 8px;
	white-space: normal;
	word-wrap: break-word;
}

.dropdown-content a:hover {background-color: lightgrey}
.dropdown:hover .dropdown-content {
	transform: scale(1);
	opacity: 1;
}
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
	box-shadow: 0 0px 0 #008405;
}



/* Главная */
#main_menu_categories{
	text-align: left;
	text-align: center;
}
.main_menu_categories_el{
	display: inline-block;
	overflow: hidden;
	position: relative;
	border: 5px outset #b7bab7;
	margin: 5px 8px;
}
.main_menu_categories_el img{
	height: 250px;
}
.main_menu_categories_el h1{
	font-family: "Roboto Mono";
	text-align: center;
	margin: 0 0;
	margin-bottom: 8px;
}
.nonfocus_block{
	padding: 5px 15px;
}
.focus_block{
	background-color: lightgrey;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: .5s;
	opacity: 0;
	text-align: center;
}
.focus_block_content{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.main_menu_categories_el:hover .focus_block{
	transform: translateY(-100%) scale(1);
	opacity: .8;
}

.bt button {
	position: relative;
	color: white;
	font-size: 14pt;
	font-family: 'Cuprum';
	text-decoration: none;
	border: none;
	background-color: #4CAF50;
	padding: 8px 12px;
	margin: 0 3px;
	border-radius: 8px;
	transition: .2s ease-in-out;
	cursor: pointer;
	overflow: hidden;
}
.bt button:before{
	content: '';
	position: absolute;
	top: -2px;
	left: -55px;
	height: 40px;
	width: 35px;
	background: linear-gradient(90deg,rgba(255,255,255,.1), rgba(255,255,255,.5));
	transform: skewX(-45deg);
}
.bt button:hover{
	background-color: green;
}
.bt button:hover::before{
	left: 150px;
	transition: .5s ease-in-out;
}
/* -------- */

